<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Pigeon</string>
	<key>ordering</key>
	<array>
		<string>6098210D-F791-4718-AB89-22A7C1E510C4</string>
	</array>
	<key>uuid</key>
	<string>88AEEEAE-311F-41BC-B969-65B191BA5B1A</string>
</dict>
</plist>
